body {
    text-align: center;
    background-color: #ccc;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

input {
    font-size: 13px;
}

div {
    background-color: cadetblue;
    display: inline-block;
    margin: 40px 25px;
    padding: 25px;
    box-sizing: border-box;
    float: left;

}

.busca {
    margin: 40px 20px;
    padding: 30px 40px 59px 30px;
}

.btn-click {
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    margin: 5px;
    padding: 4px 13px;
    font-size: 13px;
    cursor: pointer;
}
